<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12">
	  <h3>User's Information :</h3>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Email</th>
	        <th>Phone</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="success">
	        <td>{{$ctrl.userInfo.fName}}</td>
	        <td>{{$ctrl.userInfo.lName}}</td>
	        <td>{{$ctrl.userInfo.email}}</td>
	        <td>{{$ctrl.userInfo.phone}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>