<div class="container">
		<div id="info" ng-if="signupCtrl.completed==false">
	       <center><span class="fail">{{ signupCtrl.message }}</span></center>
	    </div>

	    <div id="info" ng-if="signupCtrl.completed==true">
	       <center><span class="success">{{ signupCtrl.message }}</span></center>
	    </div>
            <form class="form-horizontal" name='signupForm' novalidate>
                <h2>Sign Up Form</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="firstName" id="firstName" placeholder="Enter First Name" class="form-control" ng-model="signupCtrl.firstName" required minlength="1" autofocus>
                        <span class="label label-danger" 
				            ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) && signupForm.firstName.$touched">
				            First Name can not be empty
				        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name" class="form-control" ng-model="signupCtrl.lastName" required autofocus>
                    	<span class="label label-danger" 
				            ng-if="(signupForm.lastName.$error.minlength || signupForm.lastName.$error.required) && signupForm.lastName.$touched">
				            Last Name can not be empty
				        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" id="email" placeholder="Enter Email" class="form-control" ng-model="signupCtrl.email" required autofocus>
                        <span class="label label-danger" ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            				Must be a valid email address: handle@domain format
         	 			</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="text" name="phone" id="phone" placeholder="Phone ###-###-####" class="form-control" ng-model="signupCtrl.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required autofocus>
                        <span class="label label-danger" ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            				Phone Number must be numeric and must be in this format ###-###-####.
          				</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="menuShortName" class="col-sm-3 control-label">Favorite Item's Short Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="menuShortName" id="menuShortName" placeholder="Enter short name of your favorite dish" class="form-control" ng-model="signupCtrl.menuShortName" autofocus>
                        <span class="label label-danger" ng-if="signupForm.menuShortName.$invalid && 	signupForm.menuShortName.$touched">
                        	Menu Number (short name) is required.
	          			</span>
                    </div>
                </div>
                 <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-5 col-md-offset-5 col-sm-offset-5">
                        <button class="btn btn-primary btn-block" ng-disabled="signupForm.$invalid" ng-click="signupCtrl.submit();signupForm.$setUntouched();">Register</button>
                    </div>
                </div>

            </form> <!-- /form -->
        </div> <!-- ./container -->